button, .button {
  @include contrast(color-neutral(500));

  border: 0;
  font-size: font(text, size);
  font-weight: 600;
  line-height: 2rem;
  margin: .2rem 0;
  padding: 1rem 2rem;

  &:hover,
  &.hover {
    @include contrast(color-neutral(600));
  }


  &.button-primary {
    @include contrast(color-primary(500));

    &:hover,
    &.hover {
      @include contrast(color-primary(600));
    }
  }


  &.button-link {
    background: none;
    color: color-primary(500);
    text-decoration: none;

    &:hover,
    &.hover {
      background: none;
      color: color-primary(600);
      text-decoration: underline;
    }
  }
}


.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;

  &.button-group-center { justify-content: center; }
  &.button-group-left { justify-content: flex-start; }
  &.button-group-right { justify-content: flex-end; }
}

