/*
  Header title
 */

.header .title {
  margin: 1.5rem 0;
  text-transform: uppercase;
}


/*
  Header navigation
 */

.header {
  nav.nav-header,
  .nav.nav-header {
    ul {
      margin: 0 -1rem;
    }

    ul li .link {
      color: inherit;
      font-size: 3rem;
      opacity: 1;
      padding: 1rem;

      &:hover,
      .hover {
        color: inherit;
        opacity: .85;
      }
    }
  }
}
