<div class="card">
  <div class="card-header">
    <h3 class="title">Theme colors</h3>
  </div>


  <div class="card-main">
    <p>Customize primary and accent theme colors.</p>

    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="colorPrimary">Primary</label>
          <input id="colorPrimary" type="color"
                 [(ngModel)]="colorPrimary"
                 (input)="onColorPrimaryInput($event)">
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="colorAccent">Accent</label>
          <input id="colorAccent" type="color"
                 [(ngModel)]="colorAccent"
                 (input)="onColorAccentInput($event)">
        </div>
      </div>
    </div>


    <div class="button-group button-group-right">
      <button class="button button-link" (click)="onThemeReset($event)">
        Reset to default colors</button>
      <button class="button button-primary" (click)="onThemeSave($event)">
        Save colors</button>
    </div>
  </div>
</div>
